[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain-core = "*"
langchain-community = "*"
python-dotenv = "*"
langchain = "*"
huggingface-hub = "*"
torch = "*"
accelerate = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.8"
